


<div class="container">
	<div class="card card-container">
		<h1 style="color: #2F72CD" align="center">ForGot Password?</h1>
		<div class="form-group">
			<font color="red">
				<p data-ng-bind="error"></p>
			</font>
		</div>
		<form name="loginForm">
			<img id="profile-img" class="profile-img-card"
				src="images/profile.png" />
			<div>
			    <label>Please enter the registered email address to verify by OTP.  </label>
				<label for="lEmail">Email :</label> <input type="email"
					name="lEmail" id="lEmail" data-ng-model="login.email"
					placeholder="User Email.." required>

			</div>
			<span style="color: #ED2553; font-size: 14px"
				data-ng-show="loginForm.lEmail.$error.required && loginForm.lEmail.$touched">*Email
				is required.</span> <span style="color: #ED2553; font-size: 14px"
				data-ng-show="loginForm.lEmail.$error.email && loginForm.lEmail.$touched">*Invalid
				email address.</span>

	
			<div class="container">
				<input data-ng-disabled="!loginForm.$valid" class="button button1"
					type="submit" data-ng-click="verify()" value="Verify" /> <a
					data-ui-sref="login"><button class="button" type="button">Login</button></a>
			</div>
			
            
		</form>
		
              <a data-ui-sref="login" style="color: black;">Return to LogIn</a>

	</div>
</div>




