<top-nav-bar></top-nav-bar>
<side-nav-bar></side-nav-bar>

<div id="main" style="margin-left: {{mleft}}" >
  <div class="row">
		<div class="col-lg-3 col-md-3" >
		</div>
		<div id="note"  id="note" data-ng-click="show()" data-ng-blur="hide()" class=" col-sm-10 col-md-6 col-xs-10 col-lg-4">
		<div contenteditable="true" id="note-title" data-text="Title" data-ng-model="note.title" data-ng-show="newnote"></div>
			
			 <div id="take-note" contenteditable="true" data-text="Take Note" data-ng-model="note.description"></div> 	
				    <div class="note-icons" data-ng-show="newnote">
					<img data-ng-src="images/archive.svg"> 
					<img data-ng-src="images/reminder.png">
					<img data-ng-src="images/colors.png"> 
					<img data-ng-src="images/collaborate.png"> 
				<div role="button" data-ng-click="addNote()"
						class=" btn-done pull-right">DONE</div>
				</div>				
	</div>
	</div>
		
	<div id="note-container"
		class=" col-sm-12 col-md-12 col-xs-12 col-lg-12" >
		<div class="col-lg-1 col-md-1 hidden-sm"></div>
		<div class="col-md-10 col-sm-12 col-xs-12 col-lg-10">
<h4 data-ng-show="pinnedNotes.length">Pinned:</h4>
  
   <div class="card" data-ng-repeat="note in notes | filter : {trash : false,pinned:true,archive:false}| filter:searchFilter as pinnedNotes ">
      <h4 class="card-title" data-ng-bind-html="note.title"></h4>
    
						<img class="pull-right" src="images/pinned.svg"  width="22" height="22">
      <p class="card-text" data-ng-bind-html="note.description"></p>
      <div class="note-icons">
						<img data-ng-src="images/archive.svg" data-ng-click="addToArchive(note.noteId)">
						<img data-ng-src="images/reminder.svg"> 
						<div class="dropup inline " >
					    <img data-ng-src="images/colorpallet.svg" data-toggle="dropdown" width="22" height="22">
					 
							
					    </div>
						<img data-ng-src="images/collaborator.svg">
						<div class="dropdown inline pull-right">
							<img data-ng-src='images/more.svg' width="19px" height="19px"
								data-toggle="dropdown">
							<ul class="dropdown-menu">
								<li><a href="#!/user/home" data-ng-click="updateTotrash(note.noteId)">Delete</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1"></div>

	
	
	<div id="note-container"
		class=" col-sm-12 col-md-12 col-xs-12 col-lg-12">
		<div class="col-lg-1 col-md-1 hidden-sm"></div>
		<div class="col-md-10 col-sm-12 col-xs-12 col-lg-10">
<h4 data-ng-show="pinnedNotes.length">Others:</h4>
  
   <div class="card" data-ng-repeat="note in notes | filter :  {trash : false,pinned:false,archive:false} | filter:searchFilter ">
      <h4 class="card-title" data-ng-bind-html="note.title"></h4>
      	<img class="pull-right" src="images/unpinned.svg"  width="22" height="22">
      <p class="card-text" data-ng-bind-html="note.description"></p>
      <div class="note-icons">
						<img data-ng-src="images/archive.svg" data-ng-click="addToArchive(note)">
						<img data-ng-src="images/reminder.svg"> 
						<div class="dropup inline " >
					    <img data-ng-src="images/colorpallet.svg" data-toggle="dropdown" width="22" height="22">
					 
							
					    </div>
						<img data-ng-src="images/collaborator.svg">
						<div class="dropdown inline pull-right">
							<img data-ng-src='images/more.svg' width="19px" height="19px"
								data-toggle="dropdown">
							<ul class="dropdown-menu">
								<li><a href="#!/user/home" data-ng-click="updateTotrash(note.noteId)">Delete</a></li>
							</ul>
						</div>
					</div>


				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1"></div>
	
  </div>
				

			
		
 
 
   
   
   
   
    