<div class="container">
	<div class="card card-container">
		<h1 style="color: #2F72CD" align="center">Reset Password</h1>
		<div class="form-group">
			<font color="red">
				<p data-ng-bind="error"></p>
			</font>
		</div>
		<form name="loginForm">
			
			<div>
			    <label>Please enter the registered email address to verify by OTP.  </label>
				<label for="lEmail">Email :</label> <input type="email"
					name="lEmail" id="lEmail" data-ng-model="login.email"
					placeholder="User Email.." required>

			</div>
			<span style="color: #ED2553; font-size: 14px"
				data-ng-show="loginForm.lEmail.$error.required && loginForm.lEmail.$touched">*Email
				is required.</span> <span style="color: #ED2553; font-size: 14px"
				data-ng-show="loginForm.lEmail.$error.email && loginForm.lEmail.$touched">*Invalid
				email address.</span>
<div>
				<label for="Pass"><b>Password :</b></label> <input type="password"
					name="rPassWord" id="rPassWord" data-ng-model="login.passWord"
					placeholder="PassWord..." required>

			</div>
			<span style="color: #ED2553; font-size: 14px"
				data-ng-show="loginForm.rPassWord.$error.required && loginForm.rPassWord.$touched">*passWord
				is required.</span> 
				
				<div>
				<label for="Pass"><b> Repeat - Password :</b></label> <input type="password"
					name="rPassWord" id="PassWord" 
					placeholder="PassWord..." required>

			</div>
			<span style="color: #ED2553; font-size: 14px"
				data-ng-show="loginForm.PassWord.$error.required && loginForm.PassWord.$touched">*Re-passWord
				is required.</span>
			
			<div>
				<label for="phnNo"><b> OTP:</b></label> <input type="tel"
					name="phnNo" id="phnNo" 
					placeholder="PassWord..." data-ng-model="login.otp"" required>

			</div>

		
              
              <a data-ui-sref="" style="color: black;">Forgot password?</a>
			<div class="container">
				<input data-ng-disabled="!loginForm.$valid" class="button button1"
					type="submit" data-ng-click="reset()" value="RESET" /> <a
					data-ui-sref="login"><button class="button" type="button">Login</button></a>
			</div>
            
		</form>

	</div>
</div>
