// pen STYLES

.navbar-default {
  background-color: #FFB42E;
  border: none;
  box-shadow: 0 1px 1px rgba(0,0,0,.175);
  .btn-default {
    color: #26d9d9;
    &:hover {
      background-color: #bdf3f3;
    }
  }
  .dropdown-menu {
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.175);
    li>a {
      &:hover {
      background-color: #bdf3f3;
     }
    }    
  }
  .navbar-brand {
 color:black;
  }
  .navbar-nav>li>a {
    color: #fff;
  }
  .navbar-nav>.active>a {
    color: #26d9d9;
    background-color: #fff;
  }
  .navbar-nav>.active>a:focus {
    color: #26d9d9;
    background-color: #fff;
  }
  .navbar-nav>.active>a:hover {
    color: #26d9d9;
    background-color: #bdf3f3;
  }
  .navbar-nav>.open>a {
    color: #26d9d9;
    background-color: #fff;
  }  
  .navbar-nav>.open>a:focus {
    color: #26d9d9;
    background-color: #fff;
  } 
  .navbar-nav>.open>a:hover {
    color: #26d9d9;
    background-color: #bdf3f3;
  } 
  .navbar-toggle {
    border-color: #fff;
    .icon-bar {
      background-color: #fff;
    }
    &:hover {
      background-color: #bdf3f3;
    }
  }
}


#note{
	padding:15px;
	margin-bottom:20px;
	background-color: white;
	box-shadow: 0px 1px 2px black;
	
/* 	margin-left: 20%; */
}


[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}


#take-note:focus  {

	outline: none;
}

#take-note,#note-title{
	padding: 5px;
}
#note-title:focus{

	outline: none;
}
@width: 240px;
@gap: 16px;
@padding: 32px; // extra padding from body

body {
  background-color: #e8e8e8;
  //padding: 32px 16px;
  padding: 16px;
}
.notes {
  //max-width: @width*4 + @gap*5 + @padding; 
  margin: 0 auto;
}
.note {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

@media screen and (min-width: (@width*2 + @gap*3 + @padding)) {
  .note {
    width: 50%;
  }
}
@media screen and (min-width: (@width*3 + @gap*4 + @padding)) {
  .note {
    width: 33.3%;
  }
}
@media screen and (min-width: (@width*4 + @gap*5 + @padding)) {
  .note {
    width: 25%;
  }
}

.note-inner {
  padding-top:10px;
  background-color: #fff;
  min-height: 4em;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
  transition: box-shadow 0.2s;
}
.note:hover .note-inner {
  box-shadow: 0 2px 15px rgba(0,0,0,0.30);
}
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
.note-icons > img{

	height: 22px;
	width:22px;
	margin-right:5px;
} 
  .crl{
  background-color: green;
  }
  .space{
  margin-right: -15px;
margin-left: 30px;
  }

@media (min-width: 768px) {
  .navbar {
      border-radius: 0;
  }
}